<template>
<div>
  <b-form @submit="onSubmit">
    <b-row class="buttons">
      <b-col>
        <span class="app-name">{{currentObject.name}}</span>
      </b-col>
      <b-col md="6" class="text-right">
        <b-button type="submit" class="form-button" variant="success" >Save</b-button>
        <b-button class="form-button" v-show="isNew" variant="danger" @click="deleteModal = !deleteModal">Delete</b-button>
        <b-button class="form-button" variant="primary" @click="backPreviousRoute">Back</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-alert :show="dismissCountDown" class="alertArea" dismissible fade :variant="alertType" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
            {{ updateMessage }}
        </b-alert>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <div>
          <b-form-group id="nameGroup" label="Name:" label-for="name">
            <b-form-input id="name" type="text" v-model="currentObject.name" required></b-form-input>
          </b-form-group>
          <b-form-group id="descriptionGroup" label="Description:" label-for="description">
            <b-form-textarea id="description" rows="3" max-rows="6" type="text" v-model="currentObject.description" required></b-form-textarea>
          </b-form-group>
        </div>
      </b-col>
      <div>
          <b-modal v-model="deleteModal">
            <div class="d-block">Are you sure?!</div>
            <div class="modal-buttons" slot="modal-footer">
              <b-btn variant="danger" @click="deleteApplication()">Delete</b-btn>
              <b-btn variant="primary" @click="deleteModal=false">Cancel</b-btn>
            </div>
          </b-modal>
        </div>
    </b-row>
  </b-form>
</div>
</template>
<script>
export default {
  components: {},
  beforeMount() {
    this.getCurrentApplication();
  },
  beforeDestroy() {
    this.$store.dispatch('clearCurrentApplication');
    this.currentObject = {};
  },
  async mounted() {
    if (
      this.currentObject &&
      this.currentObject._id &&
      this.currentObject.diagram
    ) {
      this.drawDiagram();
    }
  },
  data() {
    return {
      currentObject: {},
      updateMessage: '',
      alertType: '',
      dismissSecs: 2,
      dismissCountDown: 0,
      deleteModal: false
    };
  },
  computed: {
    isNew() {
      if (this.currentObject && this.currentObject._id) {
        return true;
      }
      return false;
    }
  },
  methods: {
    async onSubmit(e) {
      e.preventDefault();
      this.smoothScrollToTop();
      let response = {};
      if (this.currentObject._id) {
        response = await this.$store.dispatch(
          'updateApplication',
          this.currentObject
        );
      } else {
        response = await this.$store.dispatch(
          'addApplication',
          this.currentObject
        );
      }
      if (response.data) {
        this.$store.dispatch('setCurrentApplication', response.data);
        this.getCurrentApplication();
      }
      this.showAlert(response);
    },
    getCurrentApplication() {
      this.currentObject = this.$store.getters.getCurrentApplication;
    },
    async deleteApplication() {
      this.deleteModal = false;
      await this.$store.dispatch('deleteApplication', this.currentObject);
      this.$router.push({ path: '/applications' });
    },
    showAlert(response) {
      if (response.status != 200) {
        this.alertType = 'danger';
        this.updateMessage = response.statusText;
      } else {
        this.alertType = 'success';
        this.updateMessage = 'Operation Completed Successfully!';
      }
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    backPreviousRoute() {
      this.$router.push({ path: '/applications' });
    },
    smoothScrollToTop() {
      document
        .querySelector('.nav-link')
        .scrollIntoView({ behavior: 'smooth' });
    }
  }
};
</script>
<style>
.buttons {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #495057;
}
.modal-buttons * {
  margin-right: 5px;
}
.app-name {
  font-size: 25px;
  font-weight: 600;
}
</style>
