<template>
  <div>
    <b-row>
      <b-col>
        <b-row class="row">
          <b-col cols="3">
            <b-form-group horizontal label="Filter:">
              <b-form-input class="search-field" v-model="filter" placeholder="Type to Search"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="3">
          </b-col>
          <b-col cols="6" class="text-right">
            <b-form-group horizontal>
              <b-button variant="success" class="mr-1" @click.stop="addApplication()" > New Application</b-button>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-table bordered striped hover responsive class="text-center" :items="applications" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" @row-dblclicked="editApplication">
            <template slot="actions" slot-scope="row" vertical-align="center">
            <b-button variant="primary" size="sm" @click.stop="editApplication(row.item)" class="mr-1">
              View Details
            </b-button>
          </template>
          </b-table>
        </b-row>
        <b-row align-h="center">
          <div class="my-1">
            <b-pagination size="md" :total-rows="applications.length" :per-page="perPage" v-model="currentPage" />
          </div>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  beforeMount() {
    this.fetchApplications();
  },
  data() {
    return {
      applications: [],
      fields: [
        { key: 'name', label: 'Name', sortable: true },
        { key: 'description', label: 'Description' },
        { key: 'actions', label: '', class: 'text-center' }
      ],
      currentPage: 1,
      perPage: 15,
      filter: null
    };
  },
  methods: {
    fetchApplications: async function() {
      await this.$store.dispatch('fetchApplications');
      this.applications = this.$store.getters.getApplications;
    },
    editApplication: function(item) {
      this.$store.dispatch('setCurrentApplication', item);
      this.$router.push({ path: '/applications/application' });
    },
    addApplication: function() {
      this.$router.push({ path: '/applications/application' });
    }
  }
};
</script>

<style>
.main-class {
  padding-top: 40px;
}
.div-component {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 25px;
}
.form-input {
  margin-bottom: 15px;
}
.form-button {
  margin-right: 5px;
}
</style>
