<template>
  <div id="app">
    <Navbar v-show="hasLoggedUser" v-bind:user="user" />
    <b-container>
      <b-row align-v="center">
        <b-col md="12">
          <transition name="fade" mode="out-in">
            <router-view />
          </transition>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue';
import { AuthenticationContext } from 'vue-adal';

export default {
  beforeMount() {
    this.user = AuthenticationContext.user.profile;
    if (this.user) {
      this.$store.dispatch('setUser', this.user);
      this.$router.push({ path: '/interfaces' });
    }
  },
  components: {
    Navbar
  },
  data() {
    return {
      user: {}
    };
  },
  computed: {
    hasLoggedUser() {
      if (this.user && this.user.given_name) {
        return true;
      }
      return false;
    }
  }
};
</script>

<style>
#app {
  height: 820px;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.footer {
  border-top: solid 1px #dee2e6;
  height: 5%;
  font-size: 13px;
  color: gray;
  text-align: center;
}
.content {
  height: 100%;
}
.container {
  padding-top: 40px;
}
</style>
