<template>
<div>
  <b-form @submit="onSubmit">
    <b-row class="buttons">
      <b-col>
        <span v-show="newTitle" class="interface-name">{{currentObject.global_id}} - {{currentObject.title}}</span>
      </b-col>
      <b-col md="6" class="text-right">
        <b-button type="submit" class="form-button" variant="success" >Save</b-button>
        <b-button class="form-button" v-show="isNew" variant="danger" @click="deleteModal = !deleteModal">Delete</b-button>
        <b-button class="form-button" variant="primary" @click="backPreviousRoute">Back</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-alert :show="dismissCountDown" class="alertArea" dismissible fade :variant="alertType" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
            {{ updateMessage }}
        </b-alert>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <div>
          <b-form-group id="interface_titleGroup" label="Title:" label-for="title">
            <b-form-input id="title" type="text" v-model="currentObject.title" required></b-form-input>
          </b-form-group>
          <b-form-group id="global_idGroup" label="Global ID:" label-for="global_id">
            <b-form-input id="global_id" type="text" v-model="currentObject.global_id" required></b-form-input>
          </b-form-group>
          <b-form-group id="descriptionGroup" label="Description:" label-for="description">
            <b-form-textarea id="description" rows="3" max-rows="6" type="text" v-model="currentObject.description" required></b-form-textarea>
          </b-form-group>
          <b-form-group id="providerAppGroup" label="Provider Application:" label-for="provider_app">
            <multiselect id="provider_app" :searchable="true" v-model="currentObject.provider_app" :options="providerAppOptions" :multiple="true" :taggable="true" placeholder=""></multiselect>
          </b-form-group>
          <b-form-group id="receiverAppGroup" label="Receiver Application:" label-for="receiver_app">
            <multiselect id="receiver_app" :searchable="true" v-model="currentObject.receiver_app" :options="receiverAppOptions" :multiple="true" :taggable="true" placeholder=""></multiselect>
          </b-form-group>
          <b-form-group id="statusGroup" label="Status:" label-for="status">
            <b-form-select id="status" v-model="currentObject.status" :options="status" class="mb-3" />
          </b-form-group>
          <b-form-group id="runningRuleGroup" label="Running Rule:" label-for="running_rule">
            <b-form-select id="running_rule" v-model="currentObject.running_rule" :options="runningRuleOptions" class="mb-3" />
          </b-form-group>
          <b-form-group id="crossreferenceGroup" label="Crossreference:" label-for="crossreference">
            <b-form-checkbox-group id="crossreference" name="crossreference" v-model="currentObject.crossreference" :options="crossreferenceOptions">
            </b-form-checkbox-group>
          </b-form-group>
          <b-form-group id="schedulerTypeGroup" label="Scheduler Type:" label-for="scheduler_type">
            <b-form-select id="scheduler_type" v-model="currentObject.scheduler_type" :options="schedulerTypeOptions" class="mb-3" />
          </b-form-group>
          <b-form-group id="schedulerChainGroup" label="Scheduler Chain Identification:" label-for="scheduler_chain">
            <b-form-input id="scheduler_chain" type="text" v-model="currentObject.scheduler_chain"></b-form-input>
          </b-form-group>
        </div>
      </b-col>
      <b-col md="6">
        <b-form-group id="deployNameGroup" label="Deploy Name:" label-for="deploy_name">
            <b-form-input id="deploy_name" type="text" v-model="currentObject.deploy_name" required></b-form-input>
        </b-form-group>
        <b-form-group id="deployLocationGroup" label="Deploy Location:" label-for="deploy_location">
          <multiselect id="deploy_location" :searchable="true" v-model="currentObject.deploy_location" :options="deployLocationOptions" :multiple="true" :taggable="true" placeholder=""></multiselect>
        </b-form-group>
        <b-form-group id="portGroup" label="HTTP Port:" label-for="port">
          <b-form-input id="port" type="text" v-model="currentObject.port" required></b-form-input>
        </b-form-group>
        <b-form-group id="periodicityGroup" label="Periodicity:" label-for="periodicity">
          <b-form-input id="periodicity" type="text" v-model="currentObject.periodicity" required></b-form-input>
        </b-form-group>
        <b-form-group id="volumeGroup" label="Volume:" label-for="volume">
          <b-form-input id="volume" type="text" v-model="currentObject.volume" required></b-form-input>
        </b-form-group>
        <b-form-group id="diagramGroup" label="Diagram:" label-for="diagramInput">
          <b-form-textarea id="diagramInput" rows="5" max-rows="6" type="text" required v-model="currentObject.diagram" @keyup.native="drawDiagram"></b-form-textarea>
        </b-form-group>
          <div id="diagram">
          </div>
      </b-col>
      <div>
          <b-modal v-model="deleteModal">
            <div class="d-block">Are you sure?!</div>
            <div class="modal-buttons" slot="modal-footer">
              <b-btn variant="danger" @click="deleteInterface()">Delete</b-btn>
              <b-btn variant="primary" @click="deleteModal=false">Cancel</b-btn>
            </div>
          </b-modal>
        </div>
    </b-row>
  </b-form>
</div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
  components: {
    multiselect: Multiselect
  },
  beforeMount() {
    this.getCurrentInterface();
    this.fetchApplications();
    this.fetchDeployLocations();
  },
  beforeDestroy() {
    this.$store.dispatch('clearCurrentInterface');
    this.currentObject = {};
  },
  mounted() {
    if (this.isNew) {
      this.drawDiagram();
    }
  },
  data() {
    return {
      currentObject: {},
      updateMessage: '',
      alertType: '',
      dismissSecs: 2,
      dismissCountDown: 0,
      deleteModal: false,
      crossreferenceOptions: [
        { text: 'No', value: 'no' },
        { text: 'BR - ORAPVT052', value: 'br-orapvt052' },
        { text: 'CAN - ORAPGB012', value: 'can-orapbg012' }
      ],
      runningRuleOptions: [
        { value: 'synchronous', text: 'Synchronous' },
        { value: 'asynchronous', text: 'Asynchronous' },
        { value: 'batch', text: 'Batch' },
        { value: 'dx-file', text: 'DX File Watch' }
      ],
      schedulerTypeOptions: [
        { value: 'N/A', text: 'N/A' },
        { value: 'tibco', text: 'TIBCO' },
        { value: 'controlm', text: 'Control-M' }
      ],
      status: [
        { value: 'in-production', text: 'In Production' },
        { value: 'design', text: 'Design' },
        { value: 'development', text: 'Development' },
        { value: 'identified', text: 'Identified' },
        { value: 'assisted-operation', text: 'Assisted Operation' },
        { value: 'retired', text: 'Retired' },
        { value: 'cancelled', text: 'Cancelled' }
      ],
      providerAppOptions: [],
      receiverAppOptions: [],
      deployLocationOptions: []
    };
  },
  computed: {
    isNew() {
      if (
        this.currentObject &&
        this.currentObject._id &&
        this.currentObject.diagram
      ) {
        return true;
      }
      return false;
    },
    newTitle() {
      if (this.currentObject && this.currentObject.global_id) {
        return true;
      }
      return false;
    }
  },
  methods: {
    async onSubmit(e) {
      e.preventDefault();
      this.smoothScrollToTop();

      let response = {};
      if (this.currentObject._id) {
        response = await this.$store.dispatch(
          'updateInterface',
          this.currentObject
        );
      } else {
        response = await this.$store.dispatch(
          'addInterface',
          this.currentObject
        );
      }

      if (response.data) {
        this.$store.dispatch('setCurrentInterface', response.data);
        this.getCurrentInterface();
      }
      this.showAlert(response);
    },
    getCurrentInterface() {
      this.currentObject = this.$store.getters.getCurrentInterface;
    },
    async fetchApplications() {
      await this.$store.dispatch('fetchDeployLocations');
      let locations = this.$store.getters.getDeployLocations;

      locations.forEach(element => {
        this.deployLocationOptions.push(element.name);
      });
    },
    async fetchDeployLocations() {
      await this.$store.dispatch('fetchApplications');

      let interfaces = this.$store.getters.getApplications;
      let that = this;

      interfaces.forEach(element => {
        that.providerAppOptions.push(element.name);
        that.receiverAppOptions.push(element.name);
      });
    },
    async deleteInterface() {
      this.deleteModal = false;
      await this.$store.dispatch('deleteInterface', this.currentObject);
      this.$router.push({ path: '/interfaces' });
    },
    showAlert(response) {
      if (response.status != 200) {
        this.alertType = 'danger';
        this.updateMessage = response.statusText;
      } else {
        this.alertType = 'success';
        this.updateMessage = 'Operation Completed Successfully!';
      }
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    drawDiagram() {
      this.removeElementsByClass('sequence');
      Diagram.parse(this.currentObject.diagram).drawSVG('diagram', {
        theme: 'simple'
      });
    },
    removeElementsByClass(className) {
      let elements = document.getElementsByClassName(className);
      while (elements.length > 0) {
        elements[0].parentNode.removeChild(elements[0]);
      }
    },
    backPreviousRoute() {
      this.$router.push({ path: '/interfaces' });
    },
    smoothScrollToTop() {
      document
        .querySelector('.nav-link')
        .scrollIntoView({ behavior: 'smooth' });
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.multiselect__tags {
  border: 1px solid #ced4da !important;
}
.buttons {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #495057;
}
.modal-buttons * {
  margin-right: 5px;
}
.interface-name {
  font-size: 25px;
  font-weight: 600;
}
</style>
