<template>
  <div>
    <b-row>
      <b-col>
        <b-row class="row">
          <b-col cols="3">
            <b-form-group horizontal label="Filter:">
              <b-form-input class="search-field" v-model="filter" placeholder="Type to Search"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="3">
          </b-col>
          <b-col cols="6" class="text-right">
            <b-form-group horizontal>
              <b-button variant="success" class="mr-1" @click.stop="addInterface()" > New Interface</b-button>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-table bordered striped hover responsive class="text-center" :items="interfaces" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" @row-dblclicked="editInterface">
            <template slot="actions" slot-scope="row" vertical-align="center">
            <b-button variant="primary" size="sm" @click.stop="editInterface(row.item)" class="mr-1">
              View Details
            </b-button>
          </template>
          </b-table>
        </b-row>
        <b-row align-h="center">
          <div class="my-1">
            <b-pagination size="md" :total-rows="interfaces.length" :per-page="perPage" v-model="currentPage" />
          </div>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { AuthenticationContext } from 'vue-adal';
export default {
  beforeMount() {
    this.fetchInterfaces();
  },
  mounted() {
    this.profile = AuthenticationContext.user.profile;
  },
  data() {
    return {
      interfaces: [],
      fields: [
        { key: 'global_id', label: 'Global ID', sortable: true },
        { key: 'title', label: 'Title' },
        { key: 'description', label: 'Description' },
        { key: 'port', label: 'Port' },
        { key: 'actions', label: '', class: 'text-center' }
      ],
      currentPage: 1,
      perPage: 15,
      filter: null,
      profile: {}
    };
  },
  methods: {
    fetchInterfaces: async function() {
      await this.$store.dispatch('fetchInterfaces');
      this.interfaces = this.$store.getters.getInterfaces;
    },
    editInterface: function(item) {
      this.$store.dispatch('setCurrentInterface', item);
      this.$router.push({ path: '/interfaces/interface' });
    },
    addInterface: function() {
      this.$router.push({ path: '/interfaces/interface' });
    }
  }
};
</script>

<style>
.main-class {
  padding-top: 40px;
}
.div-component {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 25px;
}
.form-input {
  margin-bottom: 15px;
}
.form-button {
  margin-right: 5px;
}
</style>
