<template>
  <b-container>
    <b-row align-v="center">
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {}
};
</script>

<style>
.login-form {
  margin: 0 auto;
  float: none;
  width: 380px;
}
.login-form button {
  width: 100%;
}
.nav {
  display: none;
}
</style>
