<template>
  <b-navbar toggleable="sm" type="dark" variant="dark">
    <b-nav-toggle target="nav_collapse"></b-nav-toggle>
    <b-navbar-brand>
      <img alt="Vale" class="logo" src="../assets/vale.jpg">
      <router-link to="/" class="navbar-brand" activeClass="active">Vale Integration Catalog</router-link>
    </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item>
          <router-link to="/interfaces" class="nav-link" activeClass="active">Interfaces</router-link>
        </b-nav-item>
        <b-nav-item>  
          <router-link to="/applications" class="nav-link" activeClass="active">Applications</router-link>
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item>  
          <b-nav-text activeClass="active" right>Welcome back, {{user.given_name}}!</b-nav-text>
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  props: ['user']
};
</script>

<style>
.nav-link {
  padding: 0.3em 1em;
}
.navbar {
  height: 55px;
}
.logo {
  height: 65px;
  width: 65px;
}
</style>