<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Vale Integration Catalog</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <script src="./webfont.js" type="text/javascript"></script>
  <script src="./snap.svg-min.js" type="text/javascript"></script>
  <script src="./underscore-min.js" type="text/javascript"></script>
  <script src="./sequence-diagram-min.js" type="text/javascript"></script>
</body>

</html>